
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-email:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
.icon-pdf:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-filligry-right:before { content: '\e806'; } /* '' */
.icon-ribbon:before { content: '\e807'; } /* '' */
.icon-left:before { content: '\e808'; } /* '' */
.icon-right:before { content: '\e809'; } /* '' */
.icon-left-double:before { content: '\e80a'; } /* '' */
.icon-phone:before { content: '\e80b'; } /* '' */
.icon-right-double:before { content: '\e80c'; } /* '' */
.icon-filligry-left:before { content: '\e80d'; } /* '' */
.icon-down-circled:before { content: '\e80e'; } /* '' */
.icon-left-arrow-1:before { content: '\e80f'; } /* '' */
.icon-right-arrow-1:before { content: '\e810'; } /* '' */
.icon-down-arrow:before { content: '\e812'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */